footer {
  position: absolute;

  top: 100%;
  left: 0;

  width: 100%;
  padding: 0 0 20px;

  .container {
    padding-top: 30px;
    border-top: 1px solid $lightGray;
  }

  ul.nav {
    padding: 0;
    list-style: none;

    li.nav-item {
      &:first-child {
        a.nav-link {
          padding-left: 0;
        }
      }

      &:last-child {
        a.nav-link {
          padding-right: 0;
        }
      }

      a.nav-link {
        font-size: 18px;
        line-height: 2;
        font-weight: 500;
        color: $gray;

        padding: 10px 25px;

        transition: 0.1s ease;

        &.active {
          font-weight: 600;
          color: $primary;

          &:hover {
            color: $primaryHover;
          }
        }

        &:hover {
          color: $primaryHover;
        }
      }
    }
  }

  .copyright {
    font-size: 18px;
    color: $gray;
  }
}