button.btn {
  padding: 20px 25px;

  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.35;
  font-weight: 600;
  color: $white;

  border: 1px solid transparent;
  border-radius: 10px;

  transition: 0.2s ease;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &:disabled {
    opacity: 1;
  }

  &:hover {
    color: $white;
  }

  &.btn-primary {
    color: $white;

    background: $primary;
    border-color: $primary;

    &:hover {
      color: $white;

      background: $primaryHover;
      border-color: $primaryHover;
    }

    &:disabled {
      background: rgba($primary, 0.25);
      border-color: transparent;
      color: $primary;
    }
  }

  &.btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 20px 20px 30px;
    gap: 10px;

    &::after {
      content: '';
      display: inline-block;

      width: 18px;
      height: 18px;

      background: $white;

      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8225 4.94751L15.375 9.50001L10.8225 14.0525M2.625 9.50001H15.2475' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      -webkit-mask-size: contain;

      transition: 0.2s ease;
    }

    &:disabled {
      &::after {
        background: $primary;
      }
    }
  }

  &.btn-benefit {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 20px 20px 30px;
    gap: 20px;

    span {
      padding: 3px 10px;

      font-size: 12px;
      font-weight: 700;
      line-height: 1.5;
      color: $white;

      border-radius: 5px;
      background: $black;

      transition: 0.2s ease;
    }
  }

  &.btn-primary-outlined {
    color: $primary;

    background: transparent;
    border-color: $primary;

    &.btn-arrow {
      &::after {
        background: $primary;
      }
    }

    &.btn-benefit {
      span {
        background: $primary;
      }
    }

    &:hover {
      color: $primaryHover;
      border-color: $primaryHover;

      &.btn-arrow {
        &::after {
          background: $primaryHover;
        }
      }

      &.btn-benefit {
        span {
          background: $primaryHover;
        }
      }
    }
  }

  &.btn-landing-page {
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    text-align: center;

    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;

    background: $primary;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba($primary, 0.35);

    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      text-transform: none;
    }

    &:hover {
      transform: scale(1.015);
      background: $primaryHover;
    }
  }
}