section.section {
  padding: 120px 0;

  &.no-padding-top {
    padding-top: 0;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  h1 {
    max-width: 1140px;
  }

  p {
    max-width: 840px;
  }
}