$blue: #326BFF;
$blue-25: rgba($blue, 0.25);
$blue-15: rgba($blue, 0.15);
$blue-10: rgba($blue, 0.10);
$blue-5: rgba($blue, 0.05);

$black: #101010;
$lightBlack: #1F1F1F;
$darkGray: #333333;
$gray: #666666;
$lightGray: #F0F0F0;
$white: #FFFFFF;

$yellow: #FFCC20;
$red: #F23030;

// hovers
$blueHover: #2461FF;